.gallery{
  width: calc(100% - 96px);
  margin-top: 92px;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .gallery{
    margin-top: 88px;
    width: calc(100% - 48px);
  }
}
@media screen and (max-width: 767px){
  .gallery{
    margin-top: 64px;
    width: calc(100% - 32px);
  }
}