.main__caption{
  margin-top: 8px;
  margin-bottom: 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #ffffff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;

  border: 1px solid red;
}