.lang__link{
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 117%;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.3s;
}

.lang__link:hover{
  opacity: 0.8;
}

@media screen and (max-width: 767px){
  .lang__link{
    font-size: 18px;
    line-height: 111%;
  }
}