.main__description{
  max-width: 640px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 0;

  border: 1px solid red;
}