.lang__button-label{
  display: inline-block;
  padding: 0;
  line-height: 117%;
  cursor: pointer;
  user-select: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}