.article__website{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media screen and (max-width: 767px){
  .article__website{
    display: none;
  }
}